@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-It.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
}

.child--middle {
	font-weight: bold;
}

.child--last {
	font-style: italic;
}

.parent {
	width: 600px;
	padding: 20px;
}

.child + .child {
	margin-left: 10px;
}

.parent--inline-block .child {
	display: inline-block;
	vertical-align: top;
}

.parent--inline-block .child--first {
	width: calc(30% - 10px / 2);
}

.parent--inline-block .child--middle {
	width: calc(30% - 10px);
}

.parent--inline-block .child--last {
	width: calc(40% - 10px / 2);
}

.parent--float .child {
	float: left;
	margin: 0;
}

.parent--float::after {
	content: '';
	display: block;
	clear: both;
}

.parent--float .child--first {
	width: calc(30% - 10px / 2);
}

.parent--float .child--middle {
	width: calc(30% - 10px);
	margin-left: 10px;
}

.parent--float .child--last {
	width: calc(40% - 10px / 2);
	margin-left: 10px;
}

.parent--flexbox {
	display: flex;
}

.parent--flexbox .child--first,
.parent--flexbox .child--middle {
	flex-basis: 30%;
}

.parent--flexbox .child--last {
	flex-basis: 40%;
}
